@import 'form-shared';

.forgot-password-form {
    @extend .form-container;

    h1 {
        margin-bottom: 18px;
    }

    h4 {
        font-size: 18px;
        margin-bottom: 23px;
        font-weight: 500;
    }


}