@import 'form-shared';

.password-form {
    @extend .form-container;

}

.password-strength-container {
    position: relative;
    margin-top: -1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: -2rem !important;
}

.password-strength {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 0;

    div {
        margin-top: 0;
        margin-bottom: 0;
    }
}

.password-strength-bar {
    display: flex;
    height: 5px;
    width: 200px;
    background-color: #e0e0e0;
    border-radius: 2px;
    overflow: hidden;
    position: relative;
}

.password-strength-line {
    height: 100%;
    transition: width 0.3s, background-color 0.3s;
    // margin-right: 2px;
}

.strength-label {
    margin-bottom: 0;
}

.password-help {
    // align-self: flex-end;
    display: flex;
    width: 30px;
    align-items: center;
    margin-top: 0;
    margin-bottom: 0;
}

.tooltip-icon {
    cursor: pointer;
    margin-left: 0.5rem;
    font-weight: bold;
}

.tooltip-content {
    display: none;
    width: 50%;
    position: absolute;
    top: 4%;
    right: 3%;
    background: #333;
    color: #fff;
    padding: 0.5rem;
    border-radius: 4px;
    font-size: 0.8rem;


    p {
        color: #fff !important;
    }
}

.tooltip-content:hover {
    display: block;
}

.password-help:hover .tooltip-content {
    display: block;
}