* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.collapsed_loader {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
    width: 100%;
    background-color: #fff;
    border-radius: 16px;
}

.collapsed_loader__spinner {
    border: 8px solid #f3f3f3;
    border-top: 8px solid #ffcc00;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
}

.loader {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    background-color: transparent;
    border-radius: 16px;
}

.loader__spinner {
    border: 8px solid #f3f3f3;
    border-top: 8px solid #ffcc00;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}


*::-webkit-scrollbar {
    width: 4px;
}

*::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 10px;
}

*::-webkit-scrollbar-thumb:hover {
    background-color: #555;
}

*::-webkit-scrollbar-track {
    background: #f1f1f1;
}

.dots {
    width: 13.4px;
    height: 13.4px;
    background: $secondary-color;
    color: $primary-color;
    border-radius: 50%;
    box-shadow: 22.4px 0, -22.4px 0;
    animation: dots-u8fzftmd 1s infinite linear alternate;
}

@keyframes dots-u8fzftmd {
    0% {
        box-shadow: 22.4px 0, -22.4px 0;
        background: white;
    }

    33% {
        box-shadow: 22.4px 0, -22.4px 0 rgba(71, 75, 255, 0.13);
        background: rgba(71, 75, 255, 0.13);
    }

    66% {
        box-shadow: 22.4px 0 rgba(71, 75, 255, 0.13), -22.4px 0;
        background: rgba(71, 75, 255, 0.13);
    }
}

.loader-background {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}